<div class="change-password-container">
  <h2>Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" formControlName="currentPassword">
        <mat-error *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']">Current Password is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">New Password is required</mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters long</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" formControlName="confirmNewPassword">
        <mat-error *ngIf="changePasswordForm.hasError('mismatch')">Passwords do not match</mat-error>
        <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['required']">Confirm New Password is required</mat-error>
      </mat-form-field>
    </div>

    <button style = "margin-top: 20px;"type="submit" mat-raised-button color="primary">Change Password</button>
  </form>
</div>
