<!-- app.component.html -->
<app-sidebar></app-sidebar>

<div class="content" style="width: calc(100% - 250px); display: block; float: right;" role="main">
  <div class="toolbar" *ngIf="isnavmenurequired" role="banner">
    <a routerLink="/profile">
      <img
        style="border-radius: 50%;"
        width="40"
        alt="Angular Logo"
        src="./assets/profile-image.webp"
      />
    </a>
    <!-- <a style="color:white; padding-left: 10px" routerLink="/"> Home</a>
    <a *ngIf="isadminuser" style="color:white; padding-left: 10px" routerLink="/user"> User</a>
    <div class="spacer"></div>
    <a style="color:white;" routerLink="/login">Logout</a> -->
  </div>

  <div class="content" style="width: 100%; display: block;" role="main">
    <router-outlet></router-outlet>
  </div>
</div>
