<app-sidebar></app-sidebar>

<div class="content-wrapper" style="display: flex; justify-content: flex-end;" role="main">
  <div class="toolbar" *ngIf="isnavmenurequired" role="banner">
    <div style="margin-left: auto;">
    <a routerLink="/profile">
      <img
        style="border-radius: 50%;"
        width="40"
        alt="Angular Logo"
        src="./assets/profile-image.webp"
      />
    </a>
  </div>
  </div>

  <div class="content" style="width: 100%; display: block;" role="main">
    <router-outlet></router-outlet>
  </div>
</div>
